service firebase.storage {
  match /b/{bucket}/o {
    match /uploads/{userFolder}/{allPaths=**} {
      allow read: if request.auth!=null;
      allow write: if userFolder == request.auth.uid;
    }
  }
}
